:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #32425C;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-darkblue: #293449;
  --white: #FFFFFF;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFC047;
  --success: #5FBB2D;
  --warning: #FFD180;
  --error: #BA2732;
  --darkpink: #CA2C37;
  --greylight: #A9A9A9;
  --greymiddlelight: #D7DCDE;
  --greylightlight: #F7F3EC;
  --greysoftlight: #F9F5F0;
  --greylightsoft: #F3F7F9;
  --grey: #F2F6F8;
  --greydark: #ABABAB;
  --verygrey: #EAEAEA;
  --black: #000000;
  --green: #00ca74;
  --lightdarkblue: #1D2739;
  --darkdarkblue: #161D29;
}


@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");

}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src:
    url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src:
    url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "Ptsans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "Ptsans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}


body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Ptsans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  background-color: var(--white);
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  width: 980px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.content-layout {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

.content-layout__right {
  flex-grow: 1;
}

.content-layout__left {
  flex-shrink: 0;
  margin-right: 20px;
}

.page {
  height: 100%;
}

.header {
  width: 100%;
  background-color: #f4f7f9;
}

.header__top {
  background-color: var(--basic-darkblue);
}

.header__top-wrapper {
  display: flex;
  height: 42px;
}

.header__search {
  flex-grow: 1;
  position: relative;
}

.header__search-button {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
}

.header__search input {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--white);
  background-color: transparent;
}

.header__search input:active {
  color: rgba(255, 255, 255, 0.5);
}

.header__logo .header__image {
  padding: 12px 56px 17px 56px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  display: block;
}

.header__logo img:active {
  background-color: var(--error);
}

.header__top a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--white);
}

.user__link {
  display: block;
  width: 150px;
  text-align: center;
}

.blue:hover {
  color: var(--white);
  background-color: var(--basic-darkblue);
  box-shadow: inset 0px -5px 0px #293449;
}


.blue:active {
  color: var(--white);
  opacity: 50%;
  background-color: var(--lightdarkblue);
  box-shadow: inset 0px -5px 0px #293449;
}

.header__top .header__bookmarks {
  position: relative;
  width: 150px;
}

.header__bookmarks::before {
  content: "";
  position: absolute;
  top: 27px;
  left: 24px;
  width: 14px;
  height: 16px;
  background-image: url("img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header__bookmarks:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--darkdarkblue);
}

.header__mid {
  display: flex;
  justify-content: space-between;
}

.header__title {
  margin-top: 37px;
  margin-bottom: 44px;
  padding-left: 30px;
}

.header__title h1 {
  max-width: 197px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: 400;
  color: var(--basic-red);
}

.header__contacts p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-grey);
  margin: 0;
  padding-top: 46px;
  text-align: center;
}

.header__contacts a {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-red);
  border: 3px solid var(--white);
  background-color: var(--greylightsoft);
  display: block;
  margin-bottom: 3px;
  text-align: center;
  padding: 7px 45px 8px 74px;
}

.header__user-menu {
  padding-top: 58px;
}

.header__user-menu a {
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: var(--black);
  background-color: rgba(0, 0, 0, 0.0001);
}

.header__user-menu a:hover {
  color: var(--basic-red);
}

.header__user-menu a:active {
  color: var(--basic-greylight);
}

.header__user-menu .header__link-enter {
  padding: 12px 27px 12px 45px;
  background-color: var(--white);
  margin-right: 10px;
  margin-left: 69px;
  position: relative;
}

.header__link-enter::before {
  content: "";
  position: absolute;
  top: 27px;
  left: 24px;
  width: 20px;
  height: 17px;
  background-image: url("img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 30%;
}

.header__user-menu .header__link-registration {
  padding: 12px 24px;
  background-color: var(--white);
}

.header-nav {
  height: 60px;
  max-width: 960px;
  padding: 0 auto;
  margin: 0 auto;
  margin-bottom: 119px;
  background-color: var(--basic-grey);
  box-shadow: inset 0 -5px 0 var(--basic-darkblue);
}

.header__name {
  padding-top: 58px;
}

.header__name a {
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
  padding: 12px 57px 12px 56px;
}

.header__name a:active {
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-greylight);
  background-color: var(--white);
}

.header__personal {
  padding-top: 15px;
  text-align: center;
}

.header__personal a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-grey);
}

.header__personal a:hover {
  color: var(--basic-red);
}

.header__personal a:active {
  color: var(--basic-greylight);
}

.header-nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.header-nav__list .header-nav__link-current:not([href]) {
  background-color: var(--basic-grey);
}

.header-nav__list a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--white);
  display: block;
  padding: 16px 24px 20px 27px;
}

.header-nav__list a:hover {
  background-color: var(--basic-darkblue);
  box-shadow: inset 0px -5px 0px var(--basic-darkblue);
}

.header-nav__list a:active {
  color: var(--white);
  opacity: 50%;
  background-color: var(--lightdarkblue);
  box-shadow: inset 0px -5px 0px #293449;
}

.header__cart-inner {
  background-color: var(--basic-red);
  width: 150px;
  text-align: center;
}

.header__order {
  background-color: var(--basic-green);
  width: 150px;
  text-align: center;
}

.header__order:hover {
  background-color: var(--success);
}

.header__order:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--basic-green);
}

.features {
  margin-bottom: 59px;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
}

.features__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  position: relative;
  background-size: 300px 123px;
}

.features__item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--white);
  padding-left: 23px;
  margin-top: 20px;
}

.features__item .features__img {
  display: block;
  transform: translateX(184px);
}

.features__figure {
  position: relative;
  margin: 0;
}

.features__figcaption {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
}

.features__slider-item h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  color: var(--white);
}

.features__slider-item p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  flex-grow: 1;
  color: var(--white);
}

.features__slider-item img {
  display: block;
  width: 100%;
}

.features__slider-item a {
  width: 192px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.features__item .features__img {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

.features__item .features__link {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.3);
  mix-blend-mode: normal;
  text-transform: uppercase;
  width: 135px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-left: 23px;
  margin-bottom: 21px;
}

.features__item .features__link:hover {
  background-color: rgba(197, 196, 197, 0.3);
}

.features__item .features__link:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.features__item-products {
  background-color: var(--special-yellow);
}

.features__item-instrument {
  background-color: var(--special-blue);
}

.features__item-equipment {
  background-color: var(--special-lilac);
}

.features__item-discount {
  background-color: var(--special-greenlight);
}

.features__item-delivery {
  background-color: var(--special-yellowlight);
}

.features__slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features__block-slider {
  grid-column: 1/3;
  grid-row: 2/4;
}

.slide {
  display: none;
}

.top-products {
  margin-bottom: 70px;
  padding-left: 0;
  padding-right: 0;
}

.top-products__head {
  background-color: var(--greysoftlight);
  height: 89px;
  margin-bottom: 20px;
}

.top-products__head a {
  display: inline-block;
  margin-left: 442px;
  padding: 11px 24px 9px;
}

.top-products__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-grey);
  text-transform: uppercase;
  margin: 0;
  padding-left: 28px;
  padding-top: 29px;
}


.top-products__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.top-products__list a {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: var(--black);
  display: block;
}

.top-products__list p {
  font-family: "PT Sans";
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: var(--greylight);
}

.top-products__list .top-products__actual-price {
  font-family: "PT Sans";
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--basic-red);
}

.top-products__item {
  border: 1px solid var(--verygrey);
  background-color: var(--white);
  width: 220px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.top-products__item img {
  display: block;
}

.top-products__item:hover {
  border: 1px solid var(--verygrey);
  background-color: var(--white);
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.top-products__item h3 {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  flex-grow: 1;
}

.top-company {
  margin-bottom: 70px;
  padding-left: 0;
  padding-right: 0;
}

.top-company__head {
  display: flex;
  background-color: var(--greysoftlight);
  align-items: center;
  padding: 28px;
  margin-bottom: 20px;
}

.top-company__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-grey);
  text-transform: uppercase;
  margin: 0;
}

.top-company__head .top-company__link {
  display: block;
  width: 192px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
}

.top-company__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.top-company__item img {
  border: 1px solid var(--verygrey);
  background-color: rgba(0, 0, 0, 0, 0001);
}

.top-company__item img:hover {
  border: 1px solid var(--verygrey);
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.top-company__item img:active {
  background-color: rgba(0, 0, 0, 0, 0001);
  border: 1px solid var(--verygrey);
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.services {
  background-color: var(--basic-background);
}

.services__wrapper {
  height: 522px;
  padding-left: 0;
  padding-right: 0;
}

.services__top {
  padding-left: 130px;
  padding-top: 64px;
  padding-left: 0;
  padding-right: 0;
}

.services__top h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--black);
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 25px;
}

.services__top p {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  max-width: 394px;
  margin: 0;
  padding-bottom: 70px;
}

.services__bottom {
  display: flex;
}

.services__bottom-list {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  margin-right: 80px;
}

.services-toggles__item p {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--basic-grey);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
  margin: 0;
  width: 240px;
  height: 61px;
  padding-left: 22px;
  padding-top: 13px;
  cursor: pointer;
}

.services-toggles__item p:hover {
  color: var(--basic-darkblue);
  background-color: var(--white);
  box-shadow: 0px 1px 0px #FFFFFF;
}

.services-toggles__item p:active {
  color: var(--basic-grey);
  background-color: var(--white);
}

.services__list {
  list-style: none;
  padding: 0;
}

.services__item {
  position: relative;
}

.services__item h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-grey);
}

.services__item p {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  max-width: 300px;
}

.services__text-delivery::after {
  content: "";
  background: url("img/car.png") no-repeat;
  position: absolute;
  right: -73;
  top: 131;
}

.services__item-invisible {
  display: none;
}

.contacts__wrapper {
  display: flex;
  padding-bottom: 70px;
  padding-left: 0;
  padding-right: 0;
}

.about {
  margin-right: 180px;
}

.about h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--black);
  text-transform: uppercase;
}

.about p {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  max-width: 460px;
}

.about__list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
}

.about__list li::before {
  content: "";
  display: block;
  position: absolute;
  margin-right: 12px;
  width: 25px;
  height: 2px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--basic-red);
}

.about__item {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  padding-left: 40px;
  position: relative;
}

.about a {
  padding: 11px 40px 9px;
}

.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--black);
  text-transform: uppercase;
}

.contacts p {
  max-width: 180px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  padding-bottom: 32px;
  margin: 0;
}

.contacts img {
  padding-bottom: 25px;
}

.contacts__link-map {
  display: block;
  text-align: center;
  width: 300px;
  padding-top: 11px;
  padding-bottom: 9px;
}

.footer__top {
  background-color: var(--basic-grey);
}

.footer__top-wrapper {
  display: flex;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 0;
  padding-right: 0;
}

.footer__top-wrapper .footer__logo {
  display: block;
}

.footer__logo .footer__image {
  padding: 20px 41px 25px 41px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  display: block;
}

.footer__logo img:active {
  background-color: var(--error);
}

.footer__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 37px;
  margin-bottom: 0;
  padding-left: 174px;
}

.footer__list li:not(:last-child) {
  margin-right: 58px;
}

.footer__item a {
  color: var(--basic-background);
}

.footer__item a:hover {
  text-decoration: underline;
}

.footer__item a:active {
  color: var(--basic-background);
  opacity: 50%;
}

.footer__mid {
  background-color: var(--basic-grey);
}

.footer__mid-wrapper {
  display: flex;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 0;
  padding-right: 0;
}

.footer__contacts {
  padding-top: 22px;
}

.footer__contacts p {
  margin: 0;
  color: var(--greylightsoft);
}

.footer__contacts a {
  color: var(--greylightsoft);
  display: block;
  padding-bottom: 54px;
}

.footer-catalog__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
  margin-bottom: 0;
  padding-left: 92px;
}

.footer-catalog__list li:not(:last-child) {
  margin-right: 58px;
}

.footer-catalog__item a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--warning);
}

.footer-catalog__item a:hover {
  text-decoration: underline;
}

.footer-catalog__item a:active {
  color: var(--warning);
  opacity: 50%;
}

.footer-bottom {
  background-color: var(--basic-darkblue);
}

.footer-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
}

.footer-bottom__text {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: var(--white);
  width: 287px;
  margin-top: 36px;
  margin-bottom: 34px;
}

.footer-social__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-self: center;
  padding-left: 20px;
  margin-top: 34px;
  margin-bottom: 0;
}

.footer-social__list li:not(:last-child) {
  margin-right: 27px;
}

.footer-social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: linear-gradient(0deg, #212A3A, #212A3A);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social__item:hover .footer-social__link {
  background: var(--basic-red);
}

.footer__text {
  margin-top: 35px;
}

.footer__text span {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--white);
}

.footer__text a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--warning);
  display: block;
}

.footer__text a:active {
  color: var(--basic-red);
}

.popup-form__group label {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
}

.popup-form__group input {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--greylight);
  background-color: var(--white);
  border: 2px solid var(--basic-greylight);
}

.popup-form__group textarea {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--greylight);
  background-color: var(--white);
  border: 2px solid var(--basic-greylight);
}

.main {
  width: 960px;
  margin: 0 auto;
}

.breadcrumbs__list {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.breadcrumbs__list li:not(:last-child) {
  margin-right: 40px;
}

.breadcrumbs__item a {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--black);
  text-transform: uppercase;
}

.main__title-wrapper {
  background-color: var(--grey);
  height: 89px;
  padding-bottom: 20px;
  width: 980px;
  margin: 0 auto;
}

.main__title-wrapper h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-grey);
  padding-left: 29px;
  padding-top: 29px;
  text-transform: uppercase;
}

.filter {
  display: flex;
}

.filter__title-wrapper {
  background-color: var(--greylightlight);
  width: 220px;
  height: 38px;
  padding-bottom: 14px;
  margin-top: 20px;
}

.filter__wrapper h3 {
  flex-shrink: 0;
  font-weight: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
  padding-top: 10px;
  padding-left: 18px;
}

.filter-price {
  margin: 0;
  padding: 0;
  border: 0;
}

.filter-price__range {
  width: 220px;
  margin-top: 11px;
}

.filter-price legend {
  font-family: Ptsans;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--black);
}

.filter-price__range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--greylightlight);
}

.filter-price__range-controls .filter-price__scale {
  height: 2px;
  background-color: var(--greymiddlelight);
}

.filter-price__range-controls .filter-price__bar {
  width: 70%;
  height: 2px;
  background-color: var(--green);
}

.filter-price__range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white);
  background-color: var(--greydark);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--greydark);
  cursor: pointer;
}

.filter-price__range-controls .filter-price__toggles-min {
  left: 18px;
}

.filter-price__range-controls .filter-price__toggles-max {
  left: 160px;
}

.filter-price__price-controls {
  display: flex;
  justify-content: space-between;
}

.filter-price__price-controls input {
  width: 95px;
  height: 38px;
  text-align: center;
  border: none;
  background-color: var(--greylightlight);
  font-family: "Ptsans";
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}

.filter-company {
  margin: 0;
  padding: 0;
  border: 0;
}

.filter-company legend {
  font-family: "PT Sans";
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--black);
}

.filter-company__list {
  list-style: none;
  font-family: "PT Sans";
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--black);
  padding: 0;
}

.check {
  padding-left: 12px;
}

.filter-company__item-label input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check__box {
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url("img/checkbox-off.svg");
  margin-left: -1.2em;
}

.filter-company__item-label input:checked+.check__box {
  background-image: url("img/checkbox-on.svg");
}

.filter-company__input:disabled+label {
  color: var(--black);
  opacity: 0.4;
}

.charge {
  margin: 0;
  padding: 0;
  border: 0;
}

.charge legend {
  font-family: "PT Sans";
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--black);
}

.charge__list {
  list-style: none;
  font-family: "PT Sans";
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--black);
  padding: 0;
}

.radio {
  padding-left: 1.2em;
}

.charge__item .radio__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.charge__item .radio__box {
  position: absolute;
  margin-left: -1.2em;
  width: 25px;
  height: 25px;
  background-image: url("img/radio-off.svg");
}

.radio__input:checked+.radio__box {
  background-image: url("img/radio-on.svg");
}

.filter__button-submit {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--black);
  border: 1px solid #E5E5E5;
  width: 220px;
  background-color: var(--white);
  padding: 10px 79px;
  text-transform: uppercase;
  cursor: pointer;
}

.products {
  flex-grow: 1;
}

.sorting {
  padding-bottom: 28px;
  padding-top: 20px;
  padding-left: 20px;
}

.sorting__wrapper {
  background-color: var(--greylightlight);
  height: 38px;
}

.sorting__block {
  display: flex;
  position: relative;
}

.sorting__block h3 {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--black);
  padding-top: 10px;
  padding-left: 20px;
  margin: 0;
}

.sorting__list {
  list-style: none;
  text-decoration: none;
  display: flex;
  padding-left: 140px;
  position: absolute;
  top: -12px;
  right: 102px;
}

.sorting__list li:not(:last-child) {
  margin-right: 70px;
}

.sorting__item a {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--black);
  border-bottom: 1px dotted #EE3643;
}

.sorting__item-red a {
  color: var(--basic-red);
  border-bottom: none;
}

.sorting__item a:hover {
  color: var(--black);
  opacity: 100%;
}

.sorting__item a:active {
  color: var(--basic-red);
  opacity: 100%;
}

.sorting__toggles {
  position: relative;
}

.sorting__toggles a {
  position: absolute;
  transform: translateX(651px);
  top: -22px;
}

.sorting__toggles .sorting__link-down {
  position: absolute;
  left: 23px;
}

.catalog {
  margin-left: 20px;
}

.catalog__wrapper {
  padding-bottom: 48px;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__list a {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: var(--black);
  display: block;
}

.catalog__item img {
  display: block;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--verygrey);
  background-color: var(--white);
  padding: 20px;
  text-align: center;
}

.catalog__item:hover {
  border: 1px solid var(--verygrey);
  background-color: var(--white);
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.catalog__item h3 {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: var(--black);
  max-width: 185px;
  display: block;
  flex-grow: 1;
}

.catalog__price {
  font-family: "PT Sans";
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.catalog__price p {
  color: var(--greylight);
  text-align: center;
}

.catalog__price a {
  color: var(--white);
  background-color: var(--basic-red);
  margin: 13px 34px 21px 45px;
  height: 38px;
  display: block;
  text-align: center;
}

.pagination__list {
  display: flex;
  list-style: none;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-bottom: 59px;
}

.pagination__list li:not(:last-child) {
  margin-right: 10px;
}

.pagination__item a {
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  background-color: var(--white);
  color: var(--black);
  padding: 10px 15px;
}

.pagination__item .pagination__link-current {
  background-color: var(--basic-red);
  border: none;
  color: var(--white);
}

.pagination__item a:hover {
  border: 1px solid var(--basic-greylight);
  border-radius: 2px;
  background-color: var(--white);
}

.pagination__item a:active {
  border: 1px solid var(--basic-red);
  border-radius: 2px;
  background-color: var(--white);
}

.pagination__button {
  padding: 10px 31px 10px 32px;
}

.pagination .pagination__button {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
  border: 1px solid #E5E5E5;
  border-radius: 2px;
}

.pagination .pagination__button:hover {
  border: 1px solid var(--basic-greylight);
  border-radius: 2px;
  background-color: var(--white);
}

.pagination .pagination__button:active {
  border: 1px solid var(--basic-red);
  border-radius: 2px;
  background-color: var(--white);
}

.about-tool {
  background-color: var(--basic-background);
}

.about-tool__wrapper {
  height: 261px;
}

.about-tool h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--black);
  text-transform: uppercase;
  margin: 0;
  padding-top: 64px;
  padding-left: 130px;
}

.about-tool p {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  margin: 0;
  padding-top: 25px;
  padding-left: 130px;
}





.button {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: var(--basic-red);
  color: var(--white);
  border: none;
}

.button:hover {
  background-color: var(--darkpink);
}

.button:active {
  background-color: var(--error);
}
